{% extends "layout/base.html" %}

{% block title %}Registration{% endblock %}

{% block rubrics_navigation %} {% endblock %}

{% block headline %}Registration page{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 mx-auto">
        <h2 class="mb-4">Registration form</h2>
        <form method="POST" action="">{% csrf_token %}
            <div class="form-group">
                {{form.as_p}}
            </div>
            <button class="btn btn-primary" type="submit" value="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}